@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Syne+Mono&display=swap');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #030405;
  color: #e0e0d5;
  font-family: 'Noto Sans JP', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
